  body{
      font-family: 'Roboto', sans-serif;
    
    }
    .head{
    	background-color: black;
    	color: white;
    	font-size: 25px;
    	margin: 0;
    	padding: 0;
    }
    .text{
    	color: white;
    	font-size: 18px;
    	float:left;
    	margin-left: %;

    }
    .padding{
    	padding-bottom: 2rem;
    }
    .bg{
    	background-color: black;
        color: white;
    }

    .bg1{
        background-color: black;
        color:white;
        
    }
   .inner{
    overflow: hidden;
   }
   .inner img{
    transition: all 1.5s ease;
   }
   .inner:hover img{
    transform: scale(1.5);
   }
    .light{
        background-color:white;
    }
    .h{
        margin-top: -10px;
    }

   .game{
    margin-left: 38%;
    margin-top:10px;
   }
   .game p{
    text-align: center;
   }
   .color{
    color:black;
   }

   .light-100{
    width: 100%;
    color: white;
   }

   .subscribe{
  padding: 50px 20px;
  background-image: linear-gradient(to left, #261e1e, #2c2929);
  position: relative;
  box-shadow: 0 0 20px 7px rgba(0,0,0,0,2); 
  border-radius: 30px;
}

.subscribe h3, .subscribe p{
  color: #fff;
} 

.subscribe .input-group{
  border-radius: 30px;
  background: #fff;
  max-width: 350px;
  margin: 10px auto;
  padding: 5px;

}
.subscribe .form-control{

  background: transparent;
  
}
.subscribe .form-control:focus{
  
  background: transparent;
  
}
.subscribe .input-group-append{
  background-image: linear-gradient(to right, #1c03b5, #5c8bef);
  border-radius: 30px;
  margin-left: 38%;
  
}
.subscribe .input-group-text{
  background: transparent;
  border:none;
  color: #fff;
  
}

.subscribe .btn:focus{
  box-shadow: none;
}

footer{
    margin-top: -50px;
}

.move{
    margin-left: 50%;
}

.margin{

}

.parallax{
   background: url(parallaxGod.jpg)
   no-repeat center center;

   background-attachment: fixed;
   background-size: 90% 80%;
}

.parallax-inner{
    padding-top:  20%;
    padding-bottom: 20%;
}

